@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
.App {
  font-family: "Mochiy Pop One", sans-serif !important;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 !important;
}
